Objective
Decision Tree & Random Forest 
We are going to predict once again if a passenger on the Titanic is going to survive or not using decision trees and random forests this time: 

1. Read your Titanic dataset as usual: A training set and Testing set Apply decision tree. 

2. Plot your decision tree and try to read the tree branches and conclude a prediction manually.

3. Change the decision tree parameters(change at least two parameters), 

4. Calculate the new accuracy and compare it with the previous results. 

5. Use random forest then change the number of estimators

6. Calculate the new accuracy and compare it with the previous result.

# 1. Read your Titanic dataset as usual: A training set and Testing set Apply decision tree.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv('titanic-passengers.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [4]:
total = df.isnull().sum().sort_values(ascending=False)
percent_1 = df.isnull().sum()/df.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
missing_data.head(5)

             Total     %
Cabin          687  77.1
Age            177  19.9
Embarked         2   0.2
PassengerId      0   0.0
Survived         0   0.0

In [5]:
# Drop rows that has missing values 
df = df.dropna(subset=['Embarked'])

In [6]:
embarked_one_hot = pd.get_dummies(df['Embarked'], prefix='Embarked')
df = pd.concat([df, embarked_one_hot], axis=1)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Embarked_C,Embarked_Q,Embarked_S
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S,0,0,1
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S,0,0,1
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S,0,0,1
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S,0,0,1
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S,0,0,1

In [10]:
str(df)

'     PassengerId Survived  Pclass  \\\n0            343       No       2   \n1             76       No       3   \n2            641       No       3   \n3            568       No       3   \n4            672       No       1   \n..           ...      ...     ...   \n886           10      Yes       2   \n887           61       No       3   \n888          535       No       3   \n889          102       No       3   \n890          428      Yes       2   \n\n                                                  Name     Sex   Age  SibSp  \\\n0                           Collander, Mr. Erik Gustaf    male  28.0      0   \n1                              Moen, Mr. Sigurd Hansen    male  25.0      0   \n2                               Jensen, Mr. Hans Peder    male  20.0      0   \n3          Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0      0   \n4                               Davidson, Mr. Thornton    male  31.0      1   \n..                                                 ...     ...   ...    ...   \n886                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1   \n887                              Sirayanian, Mr. Orsen    male  22.0      0   \n888                                Cacic, Miss. Marija  female  30.0      0   \n889                   Petroff, Mr. Pastcho ("Pentcho")    male   NaN      0   \n890  Phillips, Miss. Kate Florence ("Mrs Kate Louis...  female  19.0      0   \n\n     Parch      Ticket     Fare  Cabin Embarked  Embarked_C  Embarked_Q  \\\n0        0      248740  13.0000    NaN        S           0           0   \n1        0      348123   7.6500  F G73        S           0           0   \n2        0      350050   7.8542    NaN        S           0           0   \n3        4      349909  21.0750    NaN        S           0           0   \n4        0  F.C. 12750  52.0000    B71        S           0           0   \n..     ...         ...      ...    ...      ...         ...         ...   \n886      0      237736  30.0708    NaN        C           1           0   \n887      0        2669   7.2292    NaN        C           1           0   \n888      0      315084   8.6625    NaN        S           0           0   \n889      0      349215   7.8958    NaN        S           0           0   \n890      0      250655  26.0000    NaN        S           0           0   \n\n     Embarked_S  \n0             1  \n1             1  \n2             1  \n3             1  \n4             1  \n..          ...  \n886           0  \n887           0  \n888           1  \n889           1  \n890           1  \n\n[889 rows x 15 columns]'

In [16]:
# Filling missing values in Cabin column with 'Unknown'
df['Cabin'] = df['Cabin'].fillna('Unknown')
df['Cabin'] = df['Cabin'].apply(lambda x: x[0])

In [17]:
# cabin into one-hot
cabin_one_hot = pd.get_dummies(df['Cabin'], prefix='Cabin')
df = pd.concat([df, cabin_one_hot], axis=1)
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Embarked_C',
       'Embarked_Q', 'Embarked_S', 'Cabin_A', 'Cabin_B', 'Cabin_C', 'Cabin_D',
       'Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_T', 'Cabin_U'],
      dtype='object')

In [18]:
# sex into one-hot
sex_one_hot = pd.get_dummies(df['Sex'], prefix='Sex')
df = pd.concat([df, sex_one_hot], axis=1)

In [19]:
# function to extract title from Name column
def get_title(x):
    return x.split(',')[1].split('.')[0].strip()

df['Title'] = df['Name'].apply(get_title)

print(df['Title'].unique())
title_one_hot = pd.get_dummies(df['Title'], prefix='Title')
df = pd.concat([df, title_one_hot], axis=1)

['Mr' 'Mrs' 'Miss' 'Dr' 'Major' 'Don' 'Master' 'Rev' 'Col' 'Mlle' 'Lady'
 'Jonkheer' 'Mme' 'Sir' 'Capt' 'the Countess' 'Ms']

In [20]:
# age median of each title
age_median = df.groupby('Title')['Age'].median()
print(age_median)

def fill_age(x):
    for index, age in zip(age_median.index, age_median.values):
        if x['Title'] == index:
            return age

df['Age'] = df.apply(lambda x: fill_age(x) if np.isnan(x['Age']) else x['Age'], axis=1)

Title
Capt            70.0
Col             58.0
Don             40.0
Dr              46.5
Jonkheer        38.0
Lady            48.0
Major           48.5
Master           3.5
Miss            21.0
Mlle            24.0
Mme             24.0
Mr              30.0
Mrs             35.0
Ms              28.0
Rev             46.5
Sir             49.0
the Countess    33.0
Name: Age, dtype: float64

In [21]:
# Drop all columns with categorical values
df = df.drop(['PassengerId', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Title'], axis=1)

In [22]:
# target (y) , features(X)
y = df['Survived'].values
X = df.iloc[:,1:].values

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=21, test_size=0.2)

In [33]:
clf = LogisticRegression()

In [34]:
# Training model
clf.fit(X_train, y_train)

C:\Users\arokh\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [35]:
# accuracy score
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

0.8537271448663853
0.7865168539325843

# Decision Tree

In [58]:
decision_tree = DecisionTreeClassifier() decision_tree.fit(X_train, Y_train)  Y_pred = decision_tree.predict(X_test)  acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)

SyntaxError: invalid syntax (<ipython-input-58-b0e59598a3a3>, line 1)

In [37]:
results = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 
              'Decision Tree'],
    'Score': [acc_linear_svc, acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_decision_tree]})
result_df = results.sort_values(by='Score', ascending=False)
result_df = result_df.set_index('Score')
result_df.head(9)

NameError: name 'acc_linear_svc' is not defined

In [38]:
# Create Numpy arrays of train, test and target (Survived) dataframes to feed into our models
y_train = train['Survived']
x_train = train.drop(['Survived'], axis=1).values 
x_test = test.values

# Create Decision Tree with max_depth = 3
decision_tree = tree.DecisionTreeClassifier(max_depth = 3)
decision_tree.fit(x_train, y_train)

# Predicting results for test dataset
y_pred = decision_tree.predict(x_test)
submission = pd.DataFrame({
        "PassengerId": PassengerId,
        "Survived": y_pred
    })
submission.to_csv('submission.csv', index=False)

# Export our trained model as a .dot file
with open("tree1.dot", 'w') as f:
     f = tree.export_graphviz(decision_tree,
                              out_file=f,
                              max_depth = 3,
                              impurity = True,
                              feature_names = list(train.drop(['Survived'], axis=1)),
                              class_names = ['Died', 'Survived'],
                              rounded = True,
                              filled= True )
        
#Convert .dot to .png to allow display in web notebook
check_call(['dot','-Tpng','tree1.dot','-o','tree1.png'])
# Annotating chart with PIL
img = Image.open("tree1.png")
draw = ImageDraw.Draw(img)
font = ImageFont.truetype('/usr/share/fonts/truetype/liberation/LiberationSerif-Bold.ttf', 26)
draw.text((10, 0), # Drawing offset (position)
          '"Title <= 1.5" corresponds to "Mr." title', # Text to draw
          (0,0,255), # RGB desired color
          font=font) # ImageFont object with desired font
img.save('sample-out.png')
PImage("sample-out.png")

# Code to check available fonts and respective paths
# import matplotlib.font_manager
# matplotlib.font_manager.findSystemFonts(fontpaths=None, fontext='ttf')

NameError: name 'train' is not defined

In [39]:
# Load in the R package  
#install.packages('rpart')
require(rpart)

NameError: name 'require' is not defined

In [41]:
# Build the decision tree
my_tree_two <- rpart(Survived ~ Pclass + Sex + Age + SibSp + Parch + Fare + Embarked, data = train, method = "class")

# Visualize the decision tree using plot() and text()
#plot(my_tree_two)
#text(my_tree_two)

# Load in the packages to build a fancy plot
#install.packages('rattle')
#install.packages('rpart.plot')
#install.packages('RColorBrewer')
library(rattle)

SyntaxError: invalid syntax (<ipython-input-41-323e6f6a3def>, line 2)

In [42]:
my_tree_one = tree.DecisionTreeClassifier(criterion="entropy", max_depth=3)
my_tree_one = my_tree_one.fit(X, y)

NameError: name 'tree' is not defined

In [46]:
y = targets = labels = df["Survived"].values

columns = ["Pclass", "Age", "SibSp"]
features = df[list(columns)].values
features

array([[ 2., 28.,  0.],
       [ 3., 25.,  0.],
       [ 3., 20.,  0.],
       ...,
       [ 3., 30.,  0.],
       [ 3., 30.,  0.],
       [ 2., 19.,  0.]])

In [52]:

\

NameError: name 'url' is not defined

In [47]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
X = imp.fit_transform(features)
X

NameError: name 'Imputer' is not defined

In [48]:
my_tree_one = tree.DecisionTreeClassifier(criterion="entropy", max_depth=3)
my_tree_one = my_tree_one.fit(X, y)

NameError: name 'tree' is not defined

In [55]:
# Outcome variable
(DV <- "Survived")

# Predictor variables Model [1]
(IVs <- c("Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked", 
          "Title", "Master.Male", "Female.Group"))

# Create the formula string 
(FMLA <- paste(DV, "~", paste(IVs, collapse = " + ")))

# Create recipe of formula
FMLA.Recipe <- recipe(Survived ~ Pclass + Sex + Age + SibSp + 
                      Parch + Fare + Embarked +  Title + Master.Male +
                      Female.Group, 
                      data = train.cv)

SyntaxError: invalid syntax (<ipython-input-55-3a03817a97ae>, line 12)

In [57]:
#Print Confusion matrix 
pred = .predict(X)
df_confusion = metrics.confusion_matrix(y, pred)
df_confusion

AttributeError: 'DataFrame' object has no attribute 'predict'

# 2. Plot your decision tree and try to read the tree branches and conclude a prediction manually.

# 3. Change the decision tree parameters(change at least two parameters),

# 4. Calculate the new accuracy and compare it with the previous results.

# 5. Use random forest then change the number of estimators

# 6. Calculate the new accuracy and compare it with the previous result.